
body {
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    font-family: "Russo One", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        padding: 0;


        --background-color: #18181B;
            --text-color: #A1A1AA;
        
            --card-background-color: rgba(255, 255, 255, .015);
            --card-border-color: rgba(255, 255, 255, 0.1);
            --card-box-shadow-1: rgba(0, 0, 0, 0.05);
            --card-box-shadow-1-y: 3px;
            --card-box-shadow-1-blur: 6px;
            --card-box-shadow-2: rgba(0, 0, 0, 0.1);
            --card-box-shadow-2-y: 8px;
            --card-box-shadow-2-blur: 15px;
            --card-label-color: #FFFFFF;
            --card-icon-color: #D4D4D8;
            --card-icon-background-color: rgba(255, 255, 255, 0.08);
            --card-icon-border-color: rgba(255, 255, 255, 0.12);
            --card-shine-opacity: .1;
            --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
            --card-line-color: #2A2B2C;
            --card-tile-color: rgba(16, 185, 129, 0.05);
        
            --card-hover-border-color: rgba(255, 255, 255, 0.2);
            --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
            --card-hover-box-shadow-1-y: 5px;
            --card-hover-box-shadow-1-blur: 10px;
            --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
            --card-hover-box-shadow-2-y: 15px;
            --card-hover-box-shadow-2-blur: 25px;
            --card-hover-icon-color: #34D399;
            --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
            --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
        
            --blur-opacity: .01;
        
            &.light {
                --background-color: #FAFAFA;
                --text-color: #52525B;
        
                --card-background-color: transparent;
                --card-border-color: rgba(24, 24, 27, 0.08);
                --card-box-shadow-1: rgba(24, 24, 27, 0.02);
                --card-box-shadow-1-y: 3px;
                --card-box-shadow-1-blur: 6px;
                --card-box-shadow-2: rgba(24, 24, 27, 0.04);
                --card-box-shadow-2-y: 2px;
                --card-box-shadow-2-blur: 7px;
                --card-label-color: #18181B;
                --card-icon-color: #18181B;
                --card-icon-background-color: rgba(24, 24, 27, 0.04);
                --card-icon-border-color: rgba(24, 24, 27, 0.1);
                --card-shine-opacity: .3;
                --card-shine-gradient: conic-gradient(from 225deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, #EDFAF6 285deg, #FFFFFF 345deg, rgba(16, 185, 129, 0) 360deg);
                --card-line-color: #E9E9E7;
                --card-tile-color: rgba(16, 185, 129, 0.08);
        
                --card-hover-border-color: rgba(24, 24, 27, 0.15);
                --card-hover-box-shadow-1: rgba(24, 24, 27, 0.05);
                --card-hover-box-shadow-1-y: 3px;
                --card-hover-box-shadow-1-blur: 6px;
                --card-hover-box-shadow-2: rgba(24, 24, 27, 0.1);
                --card-hover-box-shadow-2-y: 8px;
                --card-hover-box-shadow-2-blur: 15px;
                --card-hover-icon-color: #18181B;
                --card-hover-icon-background-color: rgba(24, 24, 27, 0.04);
                --card-hover-icon-border-color: rgba(24, 24, 27, 0.34);
        
                --blur-opacity: .1;
            }
        
            &.toggle .grid * {
                transition-duration: 0s !important;
            }
}
canvas {
    height: 100vh;
    display: block;
}

*h3 {
    font-size: 30px;
}

*p {
    font-size: 20px;
}

*[data-diagram] {
    display: inline-block;
    width: 100vh;
    height: 100vh;
    /* background: radial-gradient(circle at 10% center, rgba(228, 219, 219, 0) 30%, #141414 70%); */
}
 .port-name {
    height: 100vh;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        

 }
.grid {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-gap: 32px;
    position: absolute;
    z-index: 1;
}





.card {
    background-color: var(--background-color);
    box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
    padding: 56px 16px 16px 16px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: box-shadow .25s;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 15px;
        background-color: var(--card-background-color);
    }

    .icon {
        z-index: 2;
        position: relative;
        display: table;
        padding: 8px;

        &::after {
            content: '';
            position: absolute;
            inset: 4.5px;
            border-radius: 50%;
            background-color: var(--card-icon-background-color);
            border: 1px solid var(--card-icon-border-color);
            backdrop-filter: blur(2px);
            transition: background-color .25s, border-color .25s;
        }

        svg {
            position: relative;
            z-index: 1;
            display: block;
            width: 24px;
            height: 24px;
            transform: translateZ(0);
            color: var(--card-icon-color);
            transition: color .25s;
        }
    }

    h4 {
        z-index: 2;
        position: relative;
        margin: 12px 0 4px 0;
        font-family: inherit;
        font-weight: 600;
        font-size: 14px;
        line-height: 2;
        color: var(--card-label-color);
    }

    p {
        z-index: 2;
        position: relative;
        margin: 0;
        font-size: 14px;
        line-height: 1.7;
        color: var(--text-color);
    }

    .shine {
        border-radius: inherit;
        position: absolute;
        inset: 0;
        z-index: 1;
        overflow: hidden;
        opacity: 0;
        transition: opacity .5s;

        &:before {
            content: '';
            width: 150%;
            padding-bottom: 150%;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            bottom: 55%;
            filter: blur(35px);
            opacity: var(--card-shine-opacity);
            transform: translateX(-50%);
            background-image: var(--card-shine-gradient);
        }
    }

    .background {
        border-radius: inherit;
        position: absolute;
        inset: 0;
        overflow: hidden;
        -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
        mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);

        .tiles {
            opacity: 0;
            transition: opacity .25s;

            .tile {
                position: absolute;
                background-color: var(--card-tile-color);
                animation-duration: 8s;
                animation-iteration-count: infinite;
                opacity: 0;

                &.tile-4,
                &.tile-6,
                &.tile-10 {
                    animation-delay: -2s;
                }

                &.tile-3,
                &.tile-5,
                &.tile-8 {
                    animation-delay: -4s;
                }

                &.tile-2,
                &.tile-9 {
                    animation-delay: -6s;
                }

                &.tile-1 {
                    top: 0;
                    left: 0;
                    height: 10%;
                    width: 22.5%;
                }

                &.tile-2 {
                    top: 0;
                    left: 22.5%;
                    height: 10%;
                    width: 27.5%;
                }

                &.tile-3 {
                    top: 0;
                    left: 50%;
                    height: 10%;
                    width: 27.5%;
                }

                &.tile-4 {
                    top: 0;
                    left: 77.5%;
                    height: 10%;
                    width: 22.5%;
                }

                &.tile-5 {
                    top: 10%;
                    left: 0;
                    height: 22.5%;
                    width: 22.5%;
                }

                &.tile-6 {
                    top: 10%;
                    left: 22.5%;
                    height: 22.5%;
                    width: 27.5%;
                }

                &.tile-7 {
                    top: 10%;
                    left: 50%;
                    height: 22.5%;
                    width: 27.5%;
                }

                &.tile-8 {
                    top: 10%;
                    left: 77.5%;
                    height: 22.5%;
                    width: 22.5%;
                }

                &.tile-9 {
                    top: 32.5%;
                    left: 50%;
                    height: 22.5%;
                    width: 27.5%;
                }

                &.tile-10 {
                    top: 32.5%;
                    left: 77.5%;
                    height: 22.5%;
                    width: 22.5%;
                }
            }
        }

        @keyframes tile {

            0%,
            12.5%,
            100% {
                opacity: 1;
            }

            25%,
            82.5% {
                opacity: 0;
            }
        }

        .line {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition: opacity .35s;

            &:before,
            &:after {
                content: '';
                position: absolute;
                background-color: var(--card-line-color);
                transition: transform .35s;
            }

            &:before {
                left: 0;
                right: 0;
                height: 1px;
                transform-origin: 0 50%;
                transform: scaleX(0);
            }

            &:after {
                top: 0;
                bottom: 0;
                width: 1px;
                transform-origin: 50% 0;
                transform: scaleY(0);
            }

            &.line-1 {
                &:before {
                    top: 10%;
                }

                &:after {
                    left: 22.5%;
                }

                &:before,
                &:after {
                    transition-delay: .3s;
                }
            }

            &.line-2 {
                &:before {
                    top: 32.5%;
                }

                &:after {
                    left: 50%;
                }

                &:before,
                &:after {
                    transition-delay: .15s;
                }
            }

            &.line-3 {
                &:before {
                    top: 55%;
                }

                &:after {
                    right: 22.5%;
                }
            }
        }
    }

    &:hover {
        box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);

        .icon {
            &::after {
                background-color: var(--card-hover-icon-background-color);
                border-color: var(--card-hover-icon-border-color);
            }

            svg {
                color: var(--card-hover-icon-color);
            }
        }

        .shine {
            opacity: 1;
            transition-duration: .5s;
            transition-delay: 0s;
        }

        .background {

            .tiles {
                opacity: 1;
                transition-delay: .25s;

                .tile {
                    animation-name: tile;
                }
            }

            .line {
                opacity: 1;
                transition-duration: .15s;

                &:before {
                    transform: scaleX(1);
                }

                &:after {
                    transform: scaleY(1);
                }

                &.line-1 {

                    &:before,
                    &:after {
                        transition-delay: .0s;
                    }
                }

                &.line-2 {

                    &:before,
                    &:after {
                        transition-delay: .15s;
                    }
                }

                &.line-3 {

                    &:before,
                    &:after {
                        transition-delay: .3s;
                    }
                }
            }
        }
    }
}

.day-night {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: .3;

    input {
        display: none;

        &+div {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            position: relative;
            box-shadow: inset 8px -8px 0 0 var(--text-color);
            transform: scale(1) rotate(-2deg);
            transition: box-shadow .5s ease 0s, transform .4s ease .1s;

            &:before {
                content: '';
                width: inherit;
                height: inherit;
                border-radius: inherit;
                position: absolute;
                left: 0;
                top: 0;
                transition: background-color .3s ease;
            }

            &:after {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin: -3px 0 0 -3px;
                position: absolute;
                top: 50%;
                left: 50%;
                box-shadow: 0 -23px 0 var(--text-color), 0 23px 0 var(--text-color), 23px 0 0 var(--text-color), -23px 0 0 var(--text-color), 15px 15px 0 var(--text-color), -15px 15px 0 var(--text-color), 15px -15px 0 var(--text-color), -15px -15px 0 var(--text-color);
                transform: scale(0);
                transition: all .3s ease;
            }
        }

        &:checked+div {
            box-shadow: inset 20px -20px 0 0 var(--text-color);
            transform: scale(.5) rotate(0deg);
            transition: transform .3s ease .1s, box-shadow .2s ease 0s;

            &:before {
                background: var(--text-color);
                transition: background-color .3s ease .1s;
            }

            &:after {
                transform: scale(1);
                transition: transform .5s ease .15s;
            }
        }
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}


.left {
    float: left;
}

.right {
    float: right;
    margin-left: .25em;
    /* background: radial-gradient(circle at 10% center, rgba(5, 5, 5, 0) 30%, #141414 70%); */
}

.top-sphere {
    margin: auto;
        display: flex;
        width: 100vh;
            
}

.port-name h1{
    position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        font-family: "Russo One", sans-serif;
                font-weight: 400;
                font-size: 3rem;
                font-style: normal;
        margin-top: 80px;

      
        Mix-blend-mode: difference;
}

.about-me {
    display: block;
        /* width: 100vh; */
        height: 100vh;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    /* background: #c9e7b8; */
}

.block {
    height: 4vmax;
    width: 4vmax;
    margin: 1vmax;
    box-sizing: border-box;
    float: left;
    border: 2px solid #480ca8;
    opacity: calc(1 - clamp(0, calc(0.8 * (1 - clamp(0, var(--js-mouse-cd-normalized), 0.8)) * var(--js-mouse-relative-cd-normalized)), 1));
    transform: scale(calc(1 + clamp(0, var(--js-mouse-relative-cd-normalized), 1)));
}
.cursor {
    pointer-events: none;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    /* mix-blend-mode: difference; */
    /* transition: transform .8s ease, opacity 0.6s ease; */
    z-index: 4;
}

.box-phone {
    margin: auto;
    display: flex;
    width: 100vh;
    
}

.phone-container {
    width: 50vh;
    position: absolute;
    left: 20%;
    margin-top: 20px;
    z-index: 10;
}

.second-container {
    margin: auto;
    display:block;
    padding: 40px;
        background: radial-gradient(circle at 50% center, rgba(115, 115, 230, 0) 40%, #89b7dca5 100%);
        
        position: absolute;
        height: 100%;
        width: 100%;

        /* pointer-events: all;
        width: 100%;
        display: flex;
        height: 100vh;
        margin: 0;
        padding: 0 10%;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        background: radial-gradient(circle at 90% center, rgba(5, 5, 5, 0) 30%, #141414 70%); */
}

.box-resize {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 margin: auto;

}

.sec1 {
    appearance: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #87acf6;
}

.sec1 :hover {
    background-color: #1b1b1bfb;
    color: white
}

.sec2 {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background-color: #5e59eefb;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.sec2 :hover {
    background-color: #1b1b1bfb;
        color: white
}

.sec3 {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background-color: #98e698;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.sec3 :hover {
    background-color: #1b1b1bfb;
        color: white
}

.sec4 {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background-color: #dc5555;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.sec4 :hover {
    background-color: #1b1b1bfb;
        color: white
}

.btn-color {
    display: block;
    width: 100vh;
    height: 100vh;
    left: 700px;
    top: 150px;
    position: relative;
}

.btn-block {
    display: block;
    margin-top: 150px;
    margin-left: 20px;
    padding-left: 10px;
    width: 600px;
    position: absolute;
    z-index: 2;
}

.btn-block h3 {
    font-size: 30px;
}
.btn-block p {
    font-size: 20px;
}

.buy {
    width: 210px;
    height: 30px;
    background-color: #e97430fb;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    margin-top: 20px;
        font-family: "Russo One", sans-serif;}


.active {
    content: "";
        /* top: 20px;
        width: 50px;
        height: 2px;
        background: #fff;
        position: relative;
        left: 0px; */
        display: block;
}

               
.content {
    width: 500px;
} 

.map {
    position: relative;
    width: 90%;
    height: 90vh;
    max-width: 1300px;
    margin: 1rem auto;
    border: 1rem solid #fff;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
}

.map>svg {
    display: block;
    width: 100%;
    height: 90%;
    border-radius: .5rem;
    touch-action: none !important;
}

.map>.info {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 3rem;
    width: 80%;
    padding: 0 1rem;
    border-radius: 1rem 1rem 0 0;
    line-height: 3rem;
    font-size: 1rem;
    text-align: center;
    background: #fff;
    pointer-events: none;
}

.building {
    transition: opacity .3s ease-in-out;
}

.building:hover {
    cursor: pointer;
    opacity: .8 !important;
}

.building.-available {
    fill: #0f0 !important;
}

.building.-reserved {
    fill: #f00 !important;
}

.building.-service {
    fill: #fff !important;
}